<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Escolar</title>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="header" style="overflow:hidden; background-color:rgb(242, 125, 242);">
            <h1 style="color: white;">Control Escolar</h1>
            <a href="#" data-icon="gear" class="ui-btn-right">Opciones</a>
            <div data-role="navbar" >
                <ul>
                    <li><a href="#" style="background: plum; color: white;">Alumnos</a></li>
                    <li><a href="#" style="background: plum; color: white;">Docentes</a></li>
                    <li><a href="#" style="background: plum; color: white;">Aulas</a></li>
                </ul>
            </div>
        </div>
        <div data-role="content" class="ui-content" ">
            <form action="/api/students/updateOne/<%=student.student_is%>" method="post" >
                <label for="txtStudentIs">Matricula:</label>
                <input type="number" name="student_is" id="txtStudentIs" value="<%=student.student_is %>" style="background-color:rgb(244, 204, 211)">
                
                <label for="txtName">Name:</label>
                <input type="text" name="name" id="txtName" value="<%=student.name %>" style="background-color:rgb(244, 204, 211)">

                <label for="txtLastName">Last Name:</label>
                <input type="text" name="last_name" id="txtLastName" value="<%=student.lastname %>" style="background-color:rgb(244, 204, 211)">

                <label for="txtgrade">Grade:</label>
                <input type="number" name="grade" id="txtGrade" value="<%=student.grade %>" style="background-color:rgb(244, 204, 211)">

                <label for="txtGroup">Group:</label>
                <input type="text" name="group" id="txtGroup" value="<%=student.group %>" style="background-color:rgb(244, 204, 211)">

                <label for="txtAverage">Average:</label>
                <input type="number" name="average" id="txtAverage"  value="<%=student.average %>" style="background-color:rgb(244, 204, 211)">

                <button class="ui-btn ui-btn-inline" style="background: palevioletred; color: white;">Actualizar</button>
            </form>
        </div>

        <div data-role="footer" style="background-color:rgb(242, 125, 242);">
            <h4 style="text-align: center; color: white;">Redes Sociales</h4>
            <div data-role="navbar">
            <ul>
                <li><a href="#" data-icon="user" style="background-color: plum;"></a></li>
                
                <li><a href="#" data-icon="heart" style="background-color: plum;"></a></li>
                <li><a href="#" data-icon="mail" style="background-color: plum;"></a></li>
            </ul>
          </div>
        </div>
    </div>
</body>
</html>